/*** COLOR PALETTE 

white: rgb(253,247,255);

pink: rgb(255,93,201);

green: rgb(212,255,0);

grey: rgb(104,119,108);

light blue: rgb(0,214,221);


***/



html {
  position: relative;
  min-height: 100%;
}
body {    
  background-color: rgb(253,247,255);
  margin-bottom: 60px;
  font-family: monospace;
}

.container {
  margin-bottom: 60px;
}

/*** NAVIGATION BAR ***/
.navbar-default {
  height: 80px;
  background-color: rgb(0,214,221);
} 
.navbar-default .navbar-nav li a, .navbar-brand {
  line-height: 40px;
  color: white;
  font-size: 20px;
}

.navbar-default .navbar-brand {
  font-family: 'Londrina Solid', cursive;
  font-size: 60px;
  color: white;
}

.navbar {
  margin-bottom: 0px;
}

/*** MAIN HOMEPAGE ***/
#home-header, .home-h2 {
  font-family: "VT323", Helvetica, sans-serif;
  font-size: 3em;
}

.home-h2 {
  text-align: center;
}
.homepage-content {
  margin: 0 auto 2em auto;
  padding: 35px 30px;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.3);
  border: none;
  min-height: 400px;
}
.homepage-container{
  background-color: rgba(255,93,201,0.5);
}


/*** FOOTER ***/
.footer {
  background-color: rgb(0,214,221);
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
.footer-text {
    text-align: center;
    color: white;
    margin: 0;
}

/*** PORTFOLIO ***/

.portfolio-info {
  min-height: 228px;
  border: none;
  text-align: center;
  padding: 0px;
}

.portfolioTitle {
  color: rgb(104,119,108);
  font-family: "VT323", Helvetica, sans-serif;
}

.label-danger {
  background-color: rgb(212,255,0);
  color: black;
}

.label-warning {
  background-color: rgb(0,214,221);
}

.label-success {
  background-color: rgb(104,119,108);
}

.label-primary {
  background-color: rgb(255,93,201);
}

.portfolio-button, .portfolio-button:hover {
  background-color: rgb(253,247,255);
  border-radius: 0;
  color: rgb(255,93,201);
  border: 3px solid rgb(255,93,201);
}

/*** BLOG INDEX ***/

.blogPost {
  background: #fff;
  margin: 0 auto 2em auto;
  padding: 35px 30px;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.3);
}

.postContent{
  font-size: 1em;
  border-left: 5px dashed #8EE5EE;
  padding-left: 15px;
}

.postTitle {
  font-size: 2.5em;
  margin-top: 5px;
  overflow: hidden;
  border: none;
  font: normal 70px/1 "VT323", Helvetica, sans-serif;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 5px 5px 0 rgb(104,119,108);
}

.postTitleLinks {
  color: rgb(255,93,201);
}

a.postTitleLinks:hover{
  color: rgba(255,93,201,0.7);
  text-shadow: 5px 5px 0 rgba(104,119,108,0.7);
  text-decoration: none;
}

.postLink {
  font-style: italic;
  transition: all 0.4s;
}

.postLink:hover {
  color: #005c7b;
  text-decoration: underline;
  text-decoration-color: currentColor;
  cursor: pointer;
}